
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}


header {
    background:
    linear-gradient(90deg, rgba(1, 0, 9, 0) 0%, rgba(0,0,0,1) 25%, rgba(0,0,0,1) 56%, rgba(0,0,0,0) 100%),
    url(images/dexter.png) no-repeat top left/contain,
    url(images/pngtree-crazy-blood-splash-photo-png-image_5854195.png) no-repeat top right/contain,
    black;
    display: flex;
    align-items: center;
    background-color: #000000;
    color: white;
    padding: 140px;
    padding-left:300px ;
    
}

header h1 img {
    width: 150px; 
    margin-right: 20px;
}

.show-info {
    max-width: 600px;
}

.show-info p {
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    float:right;
    background-color: #ffffff52;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #9d080852;
}


nav ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    padding: 10px;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}


.about-section p {
    font-size: 18px;
    line-height: 1.6;
    margin: 20px 0;
}


#episodes {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.episodes {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;
}

.episode-card {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.episode-card img {
    width: 100%;
    border-radius: 5px;
}

.episode-card h4 {
    margin: 10px 0;
    font-size: 18px;
}

.episode-card p {
    font-size: 16px;
    color: #7f8c8d;
}
.episode-card:hover{
    background-color: #00000052;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}
